<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1"  parallel="none">
  <test name="Nopackage" preserve-order="true">
    <classes>
       <class name="TestCases.ecommerce" />
       <class name="TestCases.DisplayResults"/>
    </classes>
  </test>
</suite>
